{% extends '../base.html' %}

{% block content %}
    {% if location_name %}
        <section>
            <div class="text-center container py-5">
                <h4 class="mt-4 mb-5"><strong>Локации по запросу "{{ location_name }}"</strong></h4>
                <div class="row">
                    {% for loc in locations %}
                        <div class="col-lg-4 col-md-6 mb-4">
                            <form method="POST">
                                {% csrf_token %}
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title mb-3">{{ loc.name }}</h5>
                                        <h5 class="card-title mb-3">{{ loc.country }}</h5>
                                        Координаты
                                        <h5 class="card-title mb-3">{{ loc.longitude }}</h5>
                                        <h5 class="card-title mb-3">{{ loc.latitude }}</h5>
                                        <input type="hidden" name="name"
                                               value="{{ loc.name }}" readonly>
                                        <input type="hidden" name="country"
                                               value="{{ loc.country }}" readonly>
                                        <input type="hidden" name="longitude"
                                               value="{{ loc.longitude|stringformat:" .9f" }}" readonly>
                                        <input type="hidden" name="latitude"
                                               value="{{ loc.latitude|stringformat:" .9f" }}" readonly>
                                        <button type="submit" class="btn btn-success">Добавить локацию в коллекцию
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    {% else %}
        <div class="container d-flex
         align-items-center
         justify-content-center
         min-vh-100">
            <h1>Ничего не найдено :(</h1>
        </div>
    {% endif %}


{% endblock %}