{% extends '../base.html' %}

{% load static %}

{% block content %}
    {% if location_name %}
        <section>
            <div class="text-center container py-5">
                <h4 class="mt-4 mb-5"><strong>Локации по запросу "{{ location_name }}"</strong></h4>
                <div class="row">
                    {% for loc in locations %}
                        <div class="col-lg-6 col-md-6 mb-4">
                            <form method="POST">
                                {% csrf_token %}
                                <div class="card text-body" style="border-radius: 35px;">
                                    <div class="card-body p-4">
                                        <div class="d-flex">
                                            <h6 class="flex-grow-1 text-wrap"></h6>
                                            <h6>{{ loc.country }}
                                                <img class='rounded-1 border'
                                                     src="{% static 'icons/flags/' %}{{ loc.country|lower }}.svg"
                                                     height="25px" alt="">
                                            </h6>
                                        </div>
                                        <div class="d-flex flex-column text-center mt-5 mb-4">
                                            <h6 class="display-4 mb-0 font-weight-bold">{{ loc.name|title }}</h6>
                                        </div>
                                        <div class="text-center">
                                            <div>
                                                <i class="fas fa-sun fa-fw" style="color: #868B94;"></i>
                                                <img src="{% static 'icons/weather/compass.svg' %}" height="25px"
                                                     alt="">
                                                <span>{{ loc.longitude }} | {{ loc.latitude }}</span>
                                            </div>
                                        </div>
                                        <div>
                                            <img src="{% static 'icons/weather/' %}{{ loc.icon_name }}.svg"
                                                 width="130px" alt="">
                                        </div>
                                        <input type="hidden" name="name" value="{{ loc.name }}" readonly>
                                        <input type="hidden" name="country" value="{{ loc.country }}" readonly>
                                        <input type="hidden" name="longitude"
                                               value="{{ loc.longitude|stringformat:" .9f" }}" readonly>
                                        <input type="hidden" name="latitude"
                                               value="{{ loc.latitude|stringformat:" .9f" }}" readonly>
                                        <button type="submit" class="btn btn-success">Добавить локацию в коллекцию
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    {% else %}
        <div class="container d-flex
         align-items-center
         justify-content-center
         min-vh-100">
            <h1>Ничего не найдено :(</h1>
        </div>
    {% endif %}


{% endblock %}