<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="login">
        <form method="POST">
            <p>Авторизация</p>
            <input placeholder="Введите логин" id="login_user">
            <input placeholder="Введите пароль" id="pass_user">
            Уже есть аккаунт? <a href="registration">Регистрация</a>
            <p>
                <button class="btn" type="submit">Вход</button>
                <button class="btn" type="reset">Очистить форму</button>
            </p>
        </form>
    </div>
</body>

</html>